@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Droid+Serif:400,400italic,700,700italic);
/* line 3, sass/_flex.scss */
.display-flex { display: -ms-flexbox; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -webkit-flex; display: flex; }
/* line 8, sass/_flex.scss */
.display-flex.align-content[data-align="center"] { -moz-align-content: center; -ms-align-content: center; -o-align-content: center; -webkit-align-content: center; align-content: center; }
/* line 11, sass/_flex.scss */
.display-flex.align-content[data-align="flex-start"] { -moz-align-content: flex-start; -ms-align-content: flex-start; -o-align-content: flex-start; -webkit-align-content: flex-start; align-content: flex-start; }
/* line 14, sass/_flex.scss */
.display-flex.align-content[data-align="flex-end"] { -moz-align-content: flex-end; -ms-align-content: flex-end; -o-align-content: flex-end; -webkit-align-content: flex-end; align-content: flex-end; }
/* line 17, sass/_flex.scss */
.display-flex.align-content[data-align="space-around"] { -moz-align-content: space-around; -ms-align-content: space-around; -o-align-content: space-around; -webkit-align-content: space-around; align-content: space-around; }
/* line 20, sass/_flex.scss */
.display-flex.align-content[data-align="space-between"] { -moz-align-content: space-between; -ms-align-content: space-between; -o-align-content: space-between; -webkit-align-content: space-between; align-content: space-between; }
/* line 23, sass/_flex.scss */
.display-flex.align-content[data-align="stretch"] { -moz-align-content: stretch; -ms-align-content: stretch; -o-align-content: stretch; -webkit-align-content: stretch; align-content: stretch; }
/* line 28, sass/_flex.scss */
.display-flex.align-items[data-items="baseline"] { -ms-flex-align: baseline; -moz-align-items: baseline; -ms-align-items: baseline; -o-align-items: baseline; -webkit-align-items: baseline; align-items: baseline; }
/* line 32, sass/_flex.scss */
.display-flex.align-items[data-items="center"] { -ms-flex-align: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; -webkit-align-items: center; align-items: center; }
/* line 36, sass/_flex.scss */
.display-flex.align-items[data-items="flex-start"] { -ms-flex-align: start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; -webkit-align-items: flex-start; align-items: flex-start; }
/* line 40, sass/_flex.scss */
.display-flex.align-items[data-items="flex-end"] { -ms-flex-align: end; -moz-align-items: flex-end; -ms-align-items: flex-end; -o-align-items: flex-end; -webkit-align-items: flex-end; align-items: flex-end; }
/* line 44, sass/_flex.scss */
.display-flex.align-items[data-items="stretch"] { -ms-flex-align: stretch; -moz-align-items: stretch; -ms-align-items: stretch; -o-align-items: stretch; -webkit-align-items: stretch; align-items: stretch; }
/* line 51, sass/_flex.scss */
.display-flex.flex-direction[data-direction="row"] { -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }
/* line 54, sass/_flex.scss */
.display-flex.flex-direction[data-direction="row-reverse"] { -moz-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -o-flex-direction: row-reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }
/* line 57, sass/_flex.scss */
.display-flex.flex-direction[data-direction="column"] { -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }
/* line 60, sass/_flex.scss */
.display-flex.flex-direction[data-direction="column-reverse"] { -moz-flex-direction: column-reverse; -ms-flex-direction: column-reverse; -o-flex-direction: column-reverse; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }
/* line 66, sass/_flex.scss */
.display-flex.flex-wrap[data-wrap="nowrap"] { -moz-flex-wrap: nowrap; -ms-flex-wrap: nowrap; -o-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }
/* line 69, sass/_flex.scss */
.display-flex.flex-wrap[data-wrap="wrap"] { -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
/* line 72, sass/_flex.scss */
.display-flex.flex-wrap[data-wrap="wrap-reverse"] { -moz-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; -o-flex-wrap: wrap-reverse; -webkit-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
/* line 78, sass/_flex.scss */
.display-flex.justify-content[data-content="center"] { -ms-flex-pack: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; -webkit-justify-content: center; justify-content: center; }
/* line 82, sass/_flex.scss */
.display-flex.justify-content[data-content="flex-start"] { -ms-flex-pack: start; -moz-justify-content: flex-start; -ms-justify-content: flex-start; -o-justify-content: flex-start; -webkit-justify-content: flex-start; justify-content: flex-start; }
/* line 86, sass/_flex.scss */
.display-flex.justify-content[data-content="flex-end"] { -ms-flex-pack: end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; -webkit-justify-content: flex-end; justify-content: flex-end; }
/* line 90, sass/_flex.scss */
.display-flex.justify-content[data-content="space-around"] { -ms-flex-pack: justify; -moz-justify-content: space-around; -ms-justify-content: space-around; -o-justify-content: space-around; -webkit-justify-content: space-around; justify-content: space-around; }
/* line 94, sass/_flex.scss */
.display-flex.justify-content[data-content="space-between"] { -ms-flex-pack: justify; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; -webkit-justify-content: space-between; justify-content: space-between; }
/* line 102, sass/_flex.scss */
.display-flex .align-self[data-self="auto"] { -moz-align-self: auto; -ms-align-self: auto; -o-align-self: auto; -webkit-align-self: auto; align-self: auto; }
/* line 105, sass/_flex.scss */
.display-flex .align-self[data-self="baseline"] { -moz-align-self: baseline; -ms-align-self: baseline; -o-align-self: baseline; -webkit-align-self: baseline; align-self: baseline; }
/* line 108, sass/_flex.scss */
.display-flex .align-self[data-self="center"] { -moz-align-self: center; -ms-align-self: center; -o-align-self: center; -webkit-align-self: center; align-self: center; }
/* line 111, sass/_flex.scss */
.display-flex .align-self[data-self="flex-start"] { -moz-align-self: flex-start; -ms-align-self: flex-start; -o-align-self: flex-start; -webkit-align-self: flex-start; align-self: flex-start; }
/* line 114, sass/_flex.scss */
.display-flex .align-self[data-self="flex-end"] { -moz-align-self: flex-end; -ms-align-self: flex-end; -o-align-self: flex-end; -webkit-align-self: flex-end; align-self: flex-end; }
/* line 117, sass/_flex.scss */
.display-flex .align-self[data-self="streatch"] { -moz-align-self: streatch; -ms-align-self: streatch; -o-align-self: streatch; -webkit-align-self: streatch; align-self: streatch; }
/* line 124, sass/_flex.scss */
.display-flex .grow1 { -moz-flex-grow: 1; -ms-flex-grow: 1; -o-flex-grow: 1; -webkit-flex-grow: 1; flex-grow: 1; }
/* line 124, sass/_flex.scss */
.display-flex .grow2 { -moz-flex-grow: 2; -ms-flex-grow: 2; -o-flex-grow: 2; -webkit-flex-grow: 2; flex-grow: 2; }
/* line 124, sass/_flex.scss */
.display-flex .grow3 { -moz-flex-grow: 3; -ms-flex-grow: 3; -o-flex-grow: 3; -webkit-flex-grow: 3; flex-grow: 3; }
/* line 124, sass/_flex.scss */
.display-flex .grow4 { -moz-flex-grow: 4; -ms-flex-grow: 4; -o-flex-grow: 4; -webkit-flex-grow: 4; flex-grow: 4; }
/* line 124, sass/_flex.scss */
.display-flex .grow5 { -moz-flex-grow: 5; -ms-flex-grow: 5; -o-flex-grow: 5; -webkit-flex-grow: 5; flex-grow: 5; }
/* line 131, sass/_flex.scss */
.display-flex .order-5 { -moz-order: -5; -ms-order: -5; -o-order: -5; -webkit-order: -5; order: -5; }
/* line 131, sass/_flex.scss */
.display-flex .order-4 { -moz-order: -4; -ms-order: -4; -o-order: -4; -webkit-order: -4; order: -4; }
/* line 131, sass/_flex.scss */
.display-flex .order-3 { -moz-order: -3; -ms-order: -3; -o-order: -3; -webkit-order: -3; order: -3; }
/* line 131, sass/_flex.scss */
.display-flex .order-2 { -moz-order: -2; -ms-order: -2; -o-order: -2; -webkit-order: -2; order: -2; }
/* line 131, sass/_flex.scss */
.display-flex .order-1 { -moz-order: -1; -ms-order: -1; -o-order: -1; -webkit-order: -1; order: -1; }
/* line 131, sass/_flex.scss */
.display-flex .order0 { -moz-order: 0; -ms-order: 0; -o-order: 0; -webkit-order: 0; order: 0; }
/* line 131, sass/_flex.scss */
.display-flex .order1 { -moz-order: 1; -ms-order: 1; -o-order: 1; -webkit-order: 1; order: 1; }
/* line 131, sass/_flex.scss */
.display-flex .order2 { -moz-order: 2; -ms-order: 2; -o-order: 2; -webkit-order: 2; order: 2; }
/* line 131, sass/_flex.scss */
.display-flex .order3 { -moz-order: 3; -ms-order: 3; -o-order: 3; -webkit-order: 3; order: 3; }
/* line 131, sass/_flex.scss */
.display-flex .order4 { -moz-order: 4; -ms-order: 4; -o-order: 4; -webkit-order: 4; order: 4; }
/* line 131, sass/_flex.scss */
.display-flex .order5 { -moz-order: 5; -ms-order: 5; -o-order: 5; -webkit-order: 5; order: 5; }

/* == Browser Fixes ========================================== */
/* line 8, sass/style.scss */
body, html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: 100%; margin: 0; padding: 0; }

/* line 16, sass/style.scss */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* line 20, sass/style.scss */
img { max-width: 100%; -ms-interpolation-mode: bicubic; }

/* line 25, sass/style.scss */
input { border: 1px solid #aaa; padding: 1%; outline: none; margin: 0 0 1% 0; height: 1%; }

/* line 33, sass/style.scss */
.centered { max-width: 1200px; margin: 0 auto; padding: 25px 0; }
@media screen and (max-width: 1300px) { /* line 33, sass/style.scss */
  .centered { padding-left: 50px; padding-right: 50px; } }

/* line 44, sass/style.scss */
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both; }

/* == Links ================================================== */
/* line 56, sass/style.scss */
a { cursor: pointer; font-weight: 600; text-decoration: none; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

/* == Typography ================================================== */
/* line 65, sass/style.scss */
h1 { font-family: 'Montserrat', sans-serif; font-size: ems(32px); font-weight: 700; line-height: 38px; margin: 18px 0 0; text-transform: uppercase; }

/* line 74, sass/style.scss */
p { color: #414142; font-family: 'Droid Serif', serif; font-size: ems(18px); font-weight: 400; line-height: 25px; }

/* == Header ================================================= */
/* line 83, sass/style.scss */
header { border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 10px 25px; }
/* line 87, sass/style.scss */
header .logo img { margin-top: 5px; max-width: 100px; }
/* line 92, sass/style.scss */
header .menu { font-family: 'Montserrat', sans-serif; text-transform: uppercase; }
/* line 96, sass/style.scss */
header .menu ol { margin: 0; padding: 0; }
/* line 100, sass/style.scss */
header .menu ol li { display: inline-block; list-style: none; margin: 0; padding: 0; }
/* line 106, sass/style.scss */
header .menu ol li a { color: #414142; display: block; padding: 0 15px; font-size: ems(16px); font-weight: 400; }
/* line 113, sass/style.scss */
header .menu ol li a:hover { color: #646466; }
@media screen and (max-width: 750px) { /* line 106, sass/style.scss */
  header .menu ol li a { padding: 0 10px; } }
/* line 124, sass/style.scss */
header .menu .dimmer { left: 100%; z-index: 1; width: 100%; height: 100%; position: fixed; top: 0; background-color: rgba(136, 209, 209, 0.6); }
/* line 133, sass/style.scss */
header .menu .dimmer.active { display: block; left: 50%; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
/* line 141, sass/style.scss */
header .menu .hamburger { display: none; z-index: 2; }
@media screen and (max-width: 600px) { /* line 148, sass/style.scss */
  header .menu ol { background-color: #49c0b6; bottom: 0; display: block; left: 0; margin-left: -1000px; position: fixed; top: 0; width: 80vw; z-index: 20; -moz-transition: margin-left 0.5s ease; -o-transition: margin-left 0.5s ease; -webkit-transition: margin-left 0.5s ease; transition: margin-left 0.5s ease; }
  /* line 161, sass/style.scss */
  header .menu ol.active { margin-left: 0; overflow-y: scroll; -moz-transition: margin-left 0.5s ease; -o-transition: margin-left 0.5s ease; -webkit-transition: margin-left 0.5s ease; transition: margin-left 0.5s ease; }
  /* line 168, sass/style.scss */
  header .menu ol li { border-bottom: 1px solid #414142; display: block; }
  /* line 172, sass/style.scss */
  header .menu ol li a { font-size: ems(20px); padding: 22px 25px; }
  /* line 176, sass/style.scss */
  header .menu ol li a:hover { color: #414142; background-color: #88d1d1; }
  /* line 184, sass/style.scss */
  header .menu .hamburger { display: inline-block; position: absolute; top: 25px; right: 0; padding: 12px 25px; color: #49c0b6; cursor: pointer; }
  /* line 193, sass/style.scss */
  header .menu .hamburger span { left: 0; }
  /* line 197, sass/style.scss */
  header .menu .hamburger span, header .menu .hamburger span:before, header .menu .hamburger span:after { cursor: pointer; border-radius: 1px; height: 5px; width: 28px; background: #49c0b6; position: absolute; display: block; content: ''; transition: background 500ms ease-in-out; }
  /* line 209, sass/style.scss */
  header .menu .hamburger span:before { top: -10px; transition: all 500ms ease-in-out; }
  /* line 214, sass/style.scss */
  header .menu .hamburger span:after { bottom: -10px; transition: all 500ms ease-in-out; }
  /* line 220, sass/style.scss */
  header .menu .hamburger.active span { background-color: transparent; }
  /* line 224, sass/style.scss */
  header .menu .hamburger.active span:before, header .menu .hamburger.active.active span:after { top: 0; }
  /* line 228, sass/style.scss */
  header .menu .hamburger.active span:before { transition: all 500ms ease-in-out; transform: rotate(-45deg); }
  /* line 233, sass/style.scss */
  header .menu .hamburger.active span:after { transition: all 500ms ease-in-out; transform: rotate(45deg); } }
